@import '../../../node_modules/normalize.css/normalize.css';
@import '../variables.scss';

/*
 * Base styles
 * ========================================================================== */

body {
  background-color: $grey-light;
  font-family: $font-family-base;
  font-weight: 100;
  font-size: 1.6em;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
}
.row {
  margin-bottom: 10px;
}
.row-centered {
  text-align: center;
}
.col-centered {
  display:inline-block;
  float:none;
}
