/*
 * Colors
 * ========================================================================== */

$blue:                  #4A90E2;
$blue-light:            #79B0EC;
$green:                 #4c9689;
$green-light:           #91da20;
$grey-light:            #F6F9FA;
$grey:                  #CED0D2;
$grey-dark:             #B4B7B9;
$purple:                #4d394b;
$purple-light:          #ab9ba9;
$purple-dark:           #3e313c;

/*
 * Typography
 * ========================================================================== */

$font-family-base:      sans-serif;

/*
 * Layout
 * ========================================================================== */

$max-content-width:     1000px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min:         480px;  /* Extra small screen / phone */
$screen-sm-min:         768px;  /* Small screen / tablet */
$screen-md-min:         992px;  /* Medium screen / desktop */
$screen-lg-min:         1200px; /* Large screen / wide desktop */
