@import '../variables.scss';

/*
 * Register styles
 * ========================================================================== */

 .panel {
   border-radius: 11px;
 }
 .panel-primary {
   border-color: white;
 }
 .panel-primary > .panel-heading {
   background-color: $blue;
   border-color: white;
 }
 .panel-heading {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding: 20px 0 20px 0;

   .panel-title {
     font-size: 24px;
   }
 }

 .form-control {
   border-color: $grey;
   box-shadow: none;
   border-width: 2px;
   color: $grey-dark;
 }
 .input-group-addon {
    border: none;
 }
 .input-group {
   margin-top: 15px;
 }
 .input-group-lg {
   .form-control, .input-group-addon {
     border-radius: 0;
   }
 }
 .glyphicon {
   top: 0;
 }

 .text-left {
   text-align: left;
 }
 .text-right {
   text-align: right;
 }

 .btn {
   border-radius: 20px;
   padding: 10px 25px;
   text-transform: uppercase;
 }

 .footer {
   margin-top: 20px;
 }

 .bg-hoverblue {
   background-color: $blue-light;
 }
